// Base grid styles

// Default configuration
$breakpoints: (
    desktop: "min-width: 1000px",
    tablet: "max-width: 999px",
    tablet-portrait: "max-width: 768px",
    mobile: "max-width: 500px"
) !default;

$sizes: (
    xl: false,
    l: desktop,
    t: tablet,
    tp: tablet-portrait,
    m: mobile,
) !default;

$grid-gutter-horizontal: 20px !default;

// Grid container
.grid {
    position: relative;
    display: block;
    margin-right: -$grid-gutter-horizontal;

    @include clearfix;
}

// Cells
[class*='col-'] {
    float: left;
    padding-right: $grid-gutter-horizontal;
    padding-bottom: $grid-gutter-horizontal;
}
@each $name, $breakpoint in $sizes {
    @include breakpoint($breakpoint) {
        .col-12-#{$name} {
            width: 100%;
        }
        .col-11-#{$name} {
            width: 8.33% * 11;
        }
        .col-10-#{$name} {
            width: 8.33% * 10;
        }
        .col-9-#{$name} {
            width: 8.33% * 9;
        }
        .col-8-#{$name} {
            width: 8.33% * 8;
        }
        .col-7-#{$name} {
            width: 8.33% * 7;
        }
        .col-6-#{$name} {
            width: 8.33% * 6;
        }
        .col-5-#{$name} {
            width: 8.33% * 5;
        }
        .col-4-#{$name} {
            width: 8.33% * 4;
        }
        .col-3-#{$name} {
            width: 8.33% * 3;
        }
        .col-2-#{$name} {
            width: 8.33% * 2;
        }
        .col-1-#{$name} {
            width: 8.33%;
        }
        .col-0-#{$name} {
            display: none;
        }
    }
}

// External padding / gutter
.grid-pad {
    padding: $grid-gutter-horizontal;
    padding-right: 0;
    [class*='col-']:last-of-type {
        padding-right: $grid-gutter-horizontal;
    }
}
