/** Main stylesheet **/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

nav ul {
  list-style: none; }

button {
  font-family: inherit; }

a img,
:link img,
:visited img {
  border: 0; }

a:active,
a:focus,
input:active {
  outline: 0; }

a:active,
a:focus,
input:focus {
  -moz-outline-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

blockquote, q {
  quotes: none; }

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

.clearing {
  clear: both; }

.clearafter:after,
.cf:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

#ie6,
#ie7,
#ie8,
#ie9 {
  height: 100%; }
  #ie6 .cf,
  #ie6 .clearafter,
  #ie7 .cf,
  #ie7 .clearafter,
  #ie8 .cf,
  #ie8 .clearafter,
  #ie9 .cf,
  #ie9 .clearafter {
    zoom: 1; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.grid {
  position: relative;
  display: block;
  margin-right: -20px; }
  .grid:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px; }

.col-12-xl {
  width: 100%; }

.col-11-xl {
  width: 91.63%; }

.col-10-xl {
  width: 83.3%; }

.col-9-xl {
  width: 74.97%; }

.col-8-xl {
  width: 66.64%; }

.col-7-xl {
  width: 58.31%; }

.col-6-xl {
  width: 49.98%; }

.col-5-xl {
  width: 41.65%; }

.col-4-xl {
  width: 33.32%; }

.col-3-xl {
  width: 24.99%; }

.col-2-xl {
  width: 16.66%; }

.col-1-xl {
  width: 8.33%; }

.col-0-xl {
  display: none; }

@media screen and (min-width: 1000px) {
  .col-12-l {
    width: 100%; }
  .col-11-l {
    width: 91.63%; }
  .col-10-l {
    width: 83.3%; }
  .col-9-l {
    width: 74.97%; }
  .col-8-l {
    width: 66.64%; }
  .col-7-l {
    width: 58.31%; }
  .col-6-l {
    width: 49.98%; }
  .col-5-l {
    width: 41.65%; }
  .col-4-l {
    width: 33.32%; }
  .col-3-l {
    width: 24.99%; }
  .col-2-l {
    width: 16.66%; }
  .col-1-l {
    width: 8.33%; }
  .col-0-l {
    display: none; } }

@media screen and (max-width: 999px) {
  .col-12-t {
    width: 100%; }
  .col-11-t {
    width: 91.63%; }
  .col-10-t {
    width: 83.3%; }
  .col-9-t {
    width: 74.97%; }
  .col-8-t {
    width: 66.64%; }
  .col-7-t {
    width: 58.31%; }
  .col-6-t {
    width: 49.98%; }
  .col-5-t {
    width: 41.65%; }
  .col-4-t {
    width: 33.32%; }
  .col-3-t {
    width: 24.99%; }
  .col-2-t {
    width: 16.66%; }
  .col-1-t {
    width: 8.33%; }
  .col-0-t {
    display: none; } }

@media screen and (max-width: 768px) {
  .col-12-tp {
    width: 100%; }
  .col-11-tp {
    width: 91.63%; }
  .col-10-tp {
    width: 83.3%; }
  .col-9-tp {
    width: 74.97%; }
  .col-8-tp {
    width: 66.64%; }
  .col-7-tp {
    width: 58.31%; }
  .col-6-tp {
    width: 49.98%; }
  .col-5-tp {
    width: 41.65%; }
  .col-4-tp {
    width: 33.32%; }
  .col-3-tp {
    width: 24.99%; }
  .col-2-tp {
    width: 16.66%; }
  .col-1-tp {
    width: 8.33%; }
  .col-0-tp {
    display: none; } }

@media screen and (max-width: 500px) {
  .col-12-m {
    width: 100%; }
  .col-11-m {
    width: 91.63%; }
  .col-10-m {
    width: 83.3%; }
  .col-9-m {
    width: 74.97%; }
  .col-8-m {
    width: 66.64%; }
  .col-7-m {
    width: 58.31%; }
  .col-6-m {
    width: 49.98%; }
  .col-5-m {
    width: 41.65%; }
  .col-4-m {
    width: 33.32%; }
  .col-3-m {
    width: 24.99%; }
  .col-2-m {
    width: 16.66%; }
  .col-1-m {
    width: 8.33%; }
  .col-0-m {
    display: none; } }

.grid-pad {
  padding: 20px;
  padding-right: 0; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

/** Typography Styles **/
html {
  font-size: 100%;
  font-family: verdana, arial, sans-serif; }

body {
  font-size: 16px; }

/** Layout Styles **/
#content {
  margin: 15px; }
