// Main settings

$breakpoints: (
    desktop: "min-width: 1000px",
    tablet: "max-width: 999px",
    tablet-portrait: "max-width: 768px",
    mobile: "max-width: 500px"
);
$sizes: (
    xl: false,
    l: desktop,
    t: tablet,
    tp: tablet-portrait,
    m: mobile,
);

$page-margin: 15px;
$base-px: 16px;
